<div class="home">
  <div class="home_about">
   <p class="home_about_name">
     About us
   </p>
    <img class="home_about_image" src="https://previews.123rf.com/images/faizalramli/faizalramli1906/faizalramli190600048/124375871-top-view-of-notebook-pen-plant-coffee-and-glasses-on-grey-grunge-floor-written-with-about-us.jpg">
    <button class="home_about_but" (click)="goToAboutPage()">
     Перейти
    </button>
  </div>
  <div class="home_albums">
   <p class="home_albums_name">
     Albums
   </p>
    <img class="home_albums_image" src="https://media.carteland.com/img/cl_middletail/402_836_2.jpg">
   <button class="home_albums_but" (click)="goToAlbumsPage()">
     Перейти
   </button>
  </div>
</div>
